<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DROIDCON_SLUG</key>
	<string>droidconke-2025-898</string>
	<key>FLUTTERCON_SLUG</key>
	<string>flutterconke-2025-171</string>
	<key>BEARER_TOKEN</key>
	<string>ZfbR9xctgNBRH5kSAqppbnwkvoJMarYdI2tf2yElGCitSaiAVQX5twHK8BWYjNLG9NNqqLv2FQ12ZTEB</string>
</dict>
</plist>
